# Pycharm files #
.idea/

# venv files #
venv/

# All files in Dbs dir #
Dbs/*
# Except .keep #
!Dbs/.keep

# All files in Dock dir #
Dock/*
# Except .keep #
!Dock/.keep

# Log file #
FileDbLog.log

# Pycache #
Modules/__pycache__/
